@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  display: none;
}

/* Track */
::-webkit-scrollbar-track {
  background: #09090a;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202024;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #121214;
}