@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
}


/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #121214;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #202024;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}